<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="about_title">
        <h2>About Me</h2>
        <%= image_pack_tag "shape.png", alt:"" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  
    <div class="col-md-4">
      <% @about.each do |about| %>
        <div class="single_progress_bar">
          <h2><%= about[:title] %> - <%= about[:value] %>%</h2>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
              style="width: <%= about[:value] %>%;">
              
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% @about_text.each do |about_text| %>
      <div class="col-md-4">
      <p class="about_us_p"><%= about_text[:text] %></p>
      </div>
    <% end %>

  </div>
</div>