<div id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="contact_title">
          <h1>get in touch</h1>
          <%= image_pack_tag "shape.png" , alt:"" %>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna<br /> aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="single_contact_info">
          <h2>Call Me</h2>
          <p>0382745938</p>
        </div>
        <div class="single_contact_info">
          <h2>Email Me</h2>
          <p>nhut170501@gmail.com</p>
        </div>
        <div class="single_contact_info">
          <h2>Address</h2>
          <p>...</p>
        </div>
      </div>
      <div class="col-md-9">
        <%= form_for :contact, url: contact_path, html:{class:'contact-form'} do |f| %>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :subject, class: "form-control", placeholder:"Subject", id:'subject' %>
            <%= f.text_field :name, class: "form-control", placeholder:"Name", id:'name' %>
            <%= f.text_field :email, class: "form-control", placeholder:"Email", id:'email' %>
            <%= f.text_field :phone, class: "form-control", placeholder:"Phone Number", id:'phone' %>
          </div>
          <div class="col-md-6">
            <%= f.text_area :message, class: "form-control", id: "message", placeholder:"  Message Texts...", rows:'25', cols:'10' %>
            <%= f.submit "SEND MESSAGE", class: "btn btn-default submit-btn form_submit" %>
          </div>
        </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="work-with   wow fadeInUp animated">
          <h3>looking forward to hearing from you!</h3>
        </div>
      </div>
    </div>
  </div>
</div>